:root{
      --color1: #000000;
      --color2: #ffffff;
      --grado1: #eeff00be;
      --grado2: #ff9100cc;
      --grado3: #ff0000c9;
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.container-form{
      background-color: #7e7e7e;
      margin: 5% auto 15% auto;
      border: 1px solid #bebebe;
      width: 450px;
} 
